header{
    background-color: deepskyblue;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
h1{
    font-family: sans-serif;
}
.nav{
    word-spacing: 10px;
}
a{
    color: crimson;
    text-decoration: none;
    font-family: sans-serif;
    
}
.btn1{
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
}
.container2{
    background-color: rgb(203, 192, 192);
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container2 h2{
    text-align: left;
    padding: 20px;
}
.box1{
    border: solid magenta;
    margin-right: 10px;
    padding: 10px 100px;
}
.item1{
    background-color: aqua;
    border: 2px solid darkgreen;
    margin: 10px;
    padding: 30px 10px;
    text-align: center;
}
.item2{
    background-color: aqua;
    border: 2px solid darkgreen;
    margin: 10px;
    padding: 30px 10px;
    text-align: center;
}
.item3{
    background-color: orange;
    border: 2px solid red;
    margin: 10px;
    padding: 30px 10px;
    text-align: center;
}